[2019-11-10 21:09] bbarker opened #1 "Create a lazy signal that emloys an Effect"
I'd like to have something like a signal that reads the current date:

[code]

The widget seems fine, however, the signal creates an infinite (eagerly evaluated) loop, since `dateTimWidg` returns immediately.

Ideally, there would be a way to have `dateTimeSig` only queried when other signals at the same level fire. The particular goal here is that I have user's inputting data to records, but this

[2019-11-10 21:11] bbarker commented on #1
I guess I would add that I think this would not be an issue if I could call `liftEffect` from `Signal` directly, but its type doesn't allow for that, as far as I can tell.

[2019-11-10 21:30] ajnsit commented on #1
A signal must always have a value, even just after construction. With a `liftEffect :: Effect a -> Signal a`, it's not possible to have an `a` before executing the effect, hence there's no way to make a signal with just an effect.

It is however possible to have functions -

[code]

For `dateTimeSig`, the `runEffectWithInit` function *should* suffice. The date will get updated everytime the signal

[2019-11-10 22:41] bbarker commented on #1
@ajnsit Thanks, this does look like what I need. But a question: at first I thought `empty` was `mempty`, but that seems incorrect - what is it?

[2019-11-11 12:12] ajnsit commented on #1
`empty` is similar to `mempty`. It's the identity for `<|>` just like `mempty` is the identity for `<>`. `empty` is defined in the `Plus` class.

Basically -
`Plus`:`empty`:`Alt`:`alt` = `Monoid`:`mempty`:`Semigroup`:`append`

[2019-11-11 15:29] bbarker commented on #1
Ah, I see! I'd been using `mempty` for Concur in the past but now realize that was for values of type `HTML`, rather than for type families like `Widget`.

I'm getting the following type error with the code at the moment:

[code]

The new type signature I'm using is:

[code]

But I get a similar error:

[code]

[2019-11-11 16:28] bbarker commented on #1
It does work with the concrete type `HTML` used in place of `v`, pointing to the issue with kinds, though not sure how to address it yet.

[2019-11-11 16:36] bbarker commented on #1
To qualify my above comment, when I said it works, it does compile, but the issue of the app hanging still seems to occur, with an out of memory error reported on the browser's console.

[2019-11-11 17:09] ajnsit commented on #1
Ah you don't need the MonadEffect here. `v` here is the view and of kind `*`, but a `Monad` or `MonadEffect` needs to take a type parameter and so needs to be of kind `* -> *`

In the code I posted, I had omitted the view argument to `Signal` so you only need to add that back. You will likely need a `Monoid` constraint though since most functions for `Signal`s require it. i.e. `runEffectWithInit :

[2019-11-11 19:15] bbarker commented on #1
@ajnsit Ah, I see my error with regard to MonadEffect, should have thought about that more carefully.

I added updated code in the [stampModifiedTime branch](https://github.com/labordynamicsinstitute/metajelo-ui/tree/stampModifiedTime); see [diff](https://github.com/labordynamicsinstitute/metajelo-ui/commit/af1c2cd6860f28da809accf2c8d93401fd6104a1). This causes the [default user experience](https:

[2019-11-12 00:40] bbarker opened #2 "Implementing debounce for Signals"
I started taking a look at debounce, e.g. as described in the comment below the comment below:

[code]

I didn't get very far because the question of how an API like [setTimeout](https://pursuit.purescript.org/packages/purescript-js-timers/4.0.1/docs/Effect.Timer#v:setTimeout) should work with `Signal` isn't clear to me. Do we need our own FFI to interface with the JS `setTimeout` etc?

[2019-11-22 01:03] bbarker commented on #2
Hi @ajnsit  - just a friendly ping for when you have time to think about this, thanks!

[2019-11-23 10:44] ajnsit commented on #2
Ah that's an interesting usecase. I just added a [`debounce` function to `Concur.Core.FRP`](https://github.com/purescript-concur/purescript-concur-core/commit/d9ccc5df645b5ca71288b477bfe0355064f87993).

It's fairly simple, it looks like this -

[code]

You can use it to wrap widgets in a similar manner as `loopW`, but the output would be debounced. For example -

[code]

Let me know if that works

[2019-11-23 10:45] ajnsit commented on #1
@bbarker I replied to your issue about debouncing. Closing this. Please feel free to reopen if necessary.

[2019-11-26 21:31] bbarker commented on #2
@ajnsit Thanks - I'll try to go over your code soon to understand it better. It doesn't seem to quite work yet for my use case, in tht it seems to reset the textInput fields whenever the debounce timer fires, e.g., when used like this, as in [this branch](https://github.com/labordynamicsinstitute/metajelo-ui/tree/debounce):

[code]

[2019-11-26 21:33] bbarker commented on #1
@ajnsit This was actually unrelated to debounce, except that debounce might be used as a way to hack around the issue. My above comment states, perhaps not very directly, that this issue is not yet resolved, and provides a branch that elicits the undesirable behavior of the apparent infinite loop.

[2019-11-27 00:47] bbarker commented on #2
OK, agreed that code is pretty clear! I haven't used `Aff` before but seems straightforward in this case.

For the widget to not lose its state it needs to be controlled, which certainly seems to be the case here: `a` or the updated `a'` is always passed into the signal, and in my case, `textInputWidget` is also controlled at the widget level thanks to using `P.value txt` ... hmmm.

[2019-11-29 06:53] ajnsit commented on #1
Ah I see, reopening the issue.

[2019-11-29 07:08] ajnsit commented on #1
@bbarker Is it possible to have a small independent code snippet that reproduces the problem?

[2019-12-04 16:21] bbarker commented on #2
@ajnsit Just wanted to check if the `textInput` example I provided makes sense, and if it is also an issue for you to use `debounce` with it, as it is for me.

[2019-12-05 09:41] ajnsit commented on #2
@bbarker Apologies for the late response. I wasn't able to reproduce the issue. Also, it's hard for me to run the full code in the metajelo repo, so providing an small isolated example that reproduces the issue would greatly speed up my response.

I created a small example that seems to work fine on my system. Can you check if it works for you?

https://gist.github.com/ajnsit/454c9432cd0cdcb10a846

[2019-12-05 13:22] bbarker commented on #2
@ajnsit Thanks, I should have constructed the example; yours works for `mainWidget`; all I had to do was drop `mainWidget` into my codebase and was surprised to see it did work as expected. I'll try to create a fairly small example demonstrating the issue.

I tried to make sure it was easy to build and run, so if you've encountered any issues here, I'd love the feedback.

[2019-12-05 18:19] ajnsit commented on #2
Well, this is what I get on `npm install && npm run build && npm run start` -

[code]

[2019-12-05 18:43] bbarker commented on #2
@ajnsit I see, in https://github.com/labordynamicsinstitute/metajelo-ui#building I note to use `npm run prod`, I hadn't been using `npm run start` but neglected to remove it from `scripts`; `prod` builds it without launching, `debug` is like prod but doesn't minify; would you suggest just renaming `debug` to `start` so `npm run start` would work as people expect, or is there some other behavior ex

[2019-12-05 18:55] ajnsit commented on #2
I would expect `npm run start` to start a development server, which watches the JS sources and reloads the app automatically whenever there is a change.

Then while developing, I can make changes to the PS code in the IDE, which automatically triggers a build via psc-ide, which automatically triggers the development server to load the new code and refresh the webpage in the browser. I don't even n

[2019-12-05 21:04] bbarker commented on #2
@ajnsit Great, I'll take a look at that soon and get my repo builds updated.

On another note, I found a minimal example that demonstrates the issue:

[code]

It occurs when you have two debounced widgets.

[2019-12-05 21:41] bbarker commented on #2
Another datapoint that is a bit odd; if I change the example slightly like this where `textInput2` is NOT debounced:

[code]

The non-debounced entry and value is the one that is reset on the debounce interval.

So a variant of the issue exists even one when of the text inputs is not debounced.

[2019-12-07 17:07] bbarker commented on #2
@ajnsit Actually, do think this issue is more to do with concur itself, or with how react, or some interaction between the two?

[2020-01-06 12:30] bbarker commented on #2
Hi @ajnsit , just wanted to check to see if you'd had a chance to look at the minimal examples I posted above demonstrating the issue with debounce.

[2020-01-18 12:31] ajnsit commented on #2
Hi @bbarker, I finally tracked down this bug. The debounce widget was badly written. I have now fixed it.

Debounce, as it was written, immediately started the timer when the widget was created. And on timeout, it emitted the value and restarted. This caused the widget to keep emitting values at regular intervals even when the text contents had not changed.

Consider all the cases -

1. When we ha

[2020-01-24 12:35] bbarker commented on #2
You know, this makes perfect sense now that you've explained it.  I guess I'd been thinking `go'` was lazily evaluated by `step`, but now I think that shouldn't be possible in PureScript (but would be in Haskell, I thin).

[2020-03-06 22:29] bbarker commented on #1
@ajnsit Here's an example based on purescript-concur-starter, sorry for the long delay: [branch](https://github.com/bbarker/purescript-concur-starter/tree/dateTimeWidget) [commit](https://github.com/bbarker/purescript-concur-starter/tree/d31cf15538a7e19816fcddb2ebe9fbf038bb456f).

There's a bit of dateTime boiler-plate, but it can't be helped - it's type safe dates after all!

Anyway, I think this

[2020-03-07 01:14] bbarker commented on #1
Deleted previous comment - haven't been able to minimally reproduce yet, as a simple attempt works. Will look more on Monday if not before.

[2020-03-09 14:59] bbarker commented on #1
@ajnsit OK, finally, reproduced the bug in a minimal example! I don't think it is too surprising now that I look at it in this way. It relates to using `loopS`. Here is the [breaking change](https://github.com/bbarker/purescript-concur-starter/commit/8e2e76680ffb47a9e9e78405e577734cd97114ed) in the [dateTimeWidget branch](https://github.com/bbarker/purescript-concur-starter/tree/dateTimeWidget) of

[2020-03-09 19:14] bbarker commented on #1
@ajnsit I added another [commit](https://github.com/bbarker/purescript-concur-starter/commit/8e2e76680ffb47a9e9e78405e577734cd97114ed) to show that the firing of the `dateTimeSig`, as described above using `justWait`, does not appear to wait for the signal to reflow from upstream signals (in this case, by upstream I mean the `hello` signal). Excerpt of relevant code:

[code]

At this time, I'm not

[2020-03-11 09:33] ajnsit commented on #1
Thanks @bbarker I will take a look at this soon!

[2020-05-27 01:54] bbarker commented on #1
Hi @ajnsit,

I can try to dig into this more, but wanted to see if you've tried it in another implementation of Concur first; seems like that might be useful.

[2020-05-27 18:16] ajnsit commented on #1
@bbarker I haven't tried it in another implementation. It would be interesting to see if the issue still manifests with something other than React. Apologies that I haven't had a lot of time to dig into this yet. Will try to get to it.

[2020-07-21 07:15] Ebmtranceboy opened #8 "independant periodic signals"
Hi,
I have an issue to create a widget with two independant periodic signals and I've created a gist to demonstrate my problem:
https://try.purescript.org/?gist=b6a4189f977795ed7dd694671b9db8a8

Initially, I've created two signals to drive the movement of my shape : one for the translation (lines 264-270) and one for the rotation (lines 272-275). Unfortunately, my shape in `widget1`  (lines 277-29

[2020-07-31 13:41] Ebmtranceboy commented on #8
Here's a slightly updated (debugged) and improved (no more use of the `pickFn` function) version of the library, together with a 3-independant-part signal demo :  https://try.purescript.org/?gist=419deac545741f065dad5e60276cb9fe

[2020-08-02 17:32] ajnsit commented on #8
Thanks, the example looks very interesting! I'll take a look soon.

[2020-08-02 17:34] ajnsit commented on #1
@bbarker I have two completely independent backends for Purescript-Concur right now. They are not publically released yet, but I'll check your examples internally and get back to you soon.

[2020-09-27 05:43] bbarker opened #9 "question about potential Cofree conflict"
This isn't an issue I've actually encountered, but I wonder what might happen if a user wishes to make use of both the `Cofree` implemented here and in the "standard" package. IIRC that would create a compile-time resolution error at best. I'm reminded of Haskell's Strict vs Lazy data structures for string-related things, like Lazy.Text and Text. I wonder if assigning a unique namespace would be t

[2020-09-27 14:15] ajnsit commented on #9
Yeah that's true. Since Cofree is internal to Concur, I don't think it should be a problem to rename the module. I will do that.

[2020-09-27 14:17] ajnsit commented on #9
Oh, actually the module is already named `Control.Cofree` while the official module is in `Control.Comonad.Cofree`. So there should be no conflict.

[2020-09-27 14:17] #9 closed

[2020-09-27 15:35] bbarker commented on #9
Ohv sorry ... It sounded very official!

On Sun, Sep 27, 2020, 10:18 AM Anupam Jain <notifications@github.com> wrote:

[2020-10-06 20:11] bbarker commented on #1
Hi @ajnsit,

Just curious if you'd had a chance to check this with either of the other backends yet - if not, do you think either is in a state that is worth giving it a try?

[2020-10-08 00:48] bbarker commented on #2
Unfortunately, this did not seem to work in the end. Despite looking into this, I was not able to really make any improvements.

When profiling in Chrome, [unstable_runWithPriority](https://www.reddit.com/r/reactjs/comments/gyudlk/react_internals_questions_what_react_api_uses/) from React seems to be taking up most of the time, so I think this indicates that events are getting through to react whe

[2020-10-08 01:00] bbarker commented on #2
The other thought that I just fleshed out a bit more, that is really more of a workaround, relates to Props and an example I saw in your formless port:

[code]

So if I could debounce directly at the props level, that would probably work for me. Not as elegant, but likely avoids triggering React in the same way as we're currently doing. I'll try to have a look at this approach soon.

[2020-10-08 05:42] ajnsit commented on #2
@bbarker I see the performance issues on the webpage. What should I do to run this locally?

[2020-10-08 13:46] bbarker commented on #2
@ajnsit after cloning the metajelo-ui project, with the standard tools installed you should be able to just do `npm install && npm run build && npm run prod`.

There's also a container option for building, everything stays the same but with docker installed you can run `./psc.sh bash` to get a shell in the docker container with all the tools. See also [in the README](https://github.com/labordynami

[2020-10-08 13:51] bbarker commented on #2
FWIW, here were my futile attempts to use the `AVar` approach: https://github.com/labordynamicsinstitute/metajelo-ui/commit/02baf911846ab7f7de2cc3b1ac0ecbe0b7a5e604

Basically, it has the expected behavior as written: the widget disappears while the debounce timer is on, cause that's what widgets do in Concur of course! That's why I was thinking maybe running it as a never-ending remote widget mig

[2020-10-12 11:10] ajnsit commented on #2
Is this really a debounce issue? I just ran the code and changed `textInput'` to be the following, and I still see the same issue. Something else seems to be causing this.

[code]

[2020-10-12 11:26] ajnsit commented on #2
Okay, changing the definition of `textInputWidget` to use `defaultValue` instead of `value` fixes this.

[code]

Basically when you use `value`, the textbox does not updated until the value is changed in code which causes stuttering because rendering the entire tree structure (which seems to be rendering on every change) takes time. With `defaultValue`, we let the browser update the textbox which

[2020-10-20 00:28] bbarker commented on #2
@ajnsit Sorry, somehow I didn't see your last 2 comments until now - appreciate the quick feedback. Clearly I need to do something about my inbox.

I'm curious - were you able to see a noticeable improvement when loading the full xml file and then typing into an input field? For me it seems to be the same for me (also, I had tried this approach before, just to see if there was an effect). This tim

[2020-10-20 11:15] ajnsit commented on #2
I was trying in Chrome, but even in Firefox the performance is much improved compared to earlier. However it still does stutter. I'll take a further look.

[2020-12-03 02:18] bbarker commented on #1
I came back to this one and tried the following, which worked:

[code]

This was basically using one of your functions above:

[code]

So, given that, I thought I could return to the problem at hand and write another similar function, also using `runEffectInit`. However, this one still hangs:

[code]

[2020-12-03 03:16] bbarker commented on #1
Also, as an additional datapoint, I confirmed that replacing occurrences of `runEffectInit` with similar usage of `unsafePerformEffect` fixed the issue. Obviously, this isn't ideal, but I'm happy to say that it at least seems to work here (though I need to do some more testing tomorrow to make sure I'm not breaking other things).

[2020-12-03 19:52] bbarker opened #12 "Signal prematurely cycling"
By prematurely, I at least mean before I expect it to. This may be working as intended, as I've not isolated exactly where the problem occurs.  I have confirmed it is NOT an issue with debounce by disabling it. In the `dateInput` branch (commit = https://github.com/labordynamicsinstitute/metajelo-ui/tree/058ae0f942a0a5a43d164aebd75a108ff17664c2 ) I have a lot of log statements enabled.

I confirme

[2020-12-03 20:50] bbarker commented on #12
I just pushed another commit to the branch; this is interesting: refresh==true gets all the way into `textInput'`, but never makes into to the actual widget (`textInputWidget`):

[code]

This happens regardless of whether or not `sigNow` or `sig` is used  (just verifying debounce isn't an issue again).

So it seems somewhat likely there is a problem with `textInput'`, or possibly (but IMO less lik

[2020-12-04 13:15] ajnsit commented on #12
Hi @bbarker I will look at this (and the other issue you reported) over this weekend.

[2020-12-04 14:30] bbarker commented on #12
It also occurs to me that I probably don't need `refresh` being passed around, if the underlying issue is resolved.

[2020-12-14 17:15] bbarker commented on #12
I added a hack to workaround the issue. This is not a solution as you will see, but it does seem to work, so that may provide another data point. I manually modify the DOM after doing a serach for input elements. In the signal that creates a `textInput` signal, right after the creation of the signal I call my custom function `setChildInputByTag`:

[code]

The function is defined like:

[code]

[2021-01-17 17:41] ajnsit opened #14 "*> and <* and >>= seem to have different behaviour"
Seems to be that `<*` has broken behavior, and different from `*>` and `>>=`.

https://try.purescript.org/?gist=ca835da363bc7475c73190b6dc43aa9b

`foo1` seems to run before it should.
`foo2` and `foo3` run as expected.

[2021-01-17 18:23] ajnsit commented on #14
@bbarker ^^

[2021-01-19 21:07] bbarker opened #15 "Performance improvements"
I think I lost my notes from you, @ajnsit on what the possible avenues for performance improvement might be. I thought it might be helpful to have an issue for this. I'm wrapping up my current, major Concur project and can potentially take a look at this on the coming week or so. (Originally discussed in #2)

[2021-01-22 21:24] bbarker commented on #15
(I seem to recall there was discussion regarding `Aff` usage, but don't recall the details.)

[2021-01-24 03:02] ajbarber commented on #15
If I may chime in here. This may or may not be relevant to your question @bbarker, but I experimented with swapping out arrays in `orr` for `Data.Sequence`. I got quite a performance lift for larger DOM trees.

[2021-01-28 17:59] bbarker commented on #15
Hi @ajbarber , That sounds very promising. Do you have a branch with these changes in it where I could take a look?  Thanks!

[2021-01-29 16:38] srghma opened #16 "future of the repo / plan to upgrade (the callback and random-code-nofree branch)"
related to

- https://github.com/purescript-concur/purescript-concur-vdom-starter/issues/4#issuecomment-769904993
- https://github.com/purescript-concur/purescript-concur-vdom/issues/2

1. the latest branch is random-code-nofree.
1. the internal type for Widget was changed.
1. the purescript-concur-react should be updated (https://github.com/purescript-concur/purescript-concur-react/tree/callbacks

[2021-01-29 22:28] bbarker commented on #15
I just had a debugging session with Nate Faubion related to this, and we collected some interesting information. I'll try to summarize the discussion in the next 24 hours, but I'm out of time just now, so I'll leave the discussion link here for now: https://functionalprogramming.slack.com/archives/C04NA444H/p1611954274213100

[2021-01-29 22:31] bbarker commented on #2
Closing this again - with high probability it doesn't seem to be related to debounce ( see https://github.com/purescript-concur/purescript-concur-core/issues/15#issuecomment-770083981). In particular, debounce would, I think, help prevent state from cascading through the app at a rapid pace, but even when state is isolated, this can be a problem in a large concur app.

[2021-01-29 22:31] #2 closed

[2021-01-30 02:10] bbarker commented on #15
After discussing with Nate Faubion about various debounce approaches,
he didn't seem to think debounce was likely to help,
and I have to agree since we're alredy using debounce, which sems to work fine in our
smaller tests. He hypothesized that it might be related to the fact that I'm
storing state in a single global object, and in a sense, I am doing that, though
in a functional way.

At any rate

[2021-01-30 19:09] srghma opened #18 "add ci"

[2021-01-30 19:12] srghma opened #19 "orr test `should cancel running effects when the widget returns a value` fails with delay 150 but runs fine with delay 250"
this test https://github.com/purescript-concur/purescript-concur-core/pull/5

on 253be02725eac8f3515f75a4542602301d24a749

probable solution - removing buggy Aff (?) https://github.com/purescript-concur/purescript-concur-react/issues/45#issuecomment-639996048

![2021-01-30-21:08:32-screenshot](https://user-images.githubusercontent.com/7573215/106365643-9216f680-633f-11eb-8b03-b02a0a749eac.png)
![2

[2021-01-30 19:55] bbarker commented on #18
I can probably handle this one, unless someone else wants to.

[2021-01-30 20:00] srghma commented on #18
not really) github-actions?

[2021-01-30 20:05] bbarker commented on #15
Nate Faubion pointed out:

Additionally @ajbarber pointed out:

If my understanding is correct, first we need to fix the issue pointed out by Nate before revisiting debounce?

[2021-01-31 09:54] ajbarber commented on #15
After investigation `discharge `, being triggered on events is not a big concern.

There is no Concur issue I could identify here.

The main driver of performance degradation appears to be some heavy weight synchronous processing of input events in the metajelo ui application. More details of my investigation [ here ] (https://functionalprogramming.slack.com/archives/C04NA444H/p1612072993287000?th

[2021-02-01 12:35] bbarker commented on #15
I also wonder if a more pervasive solution can be devised (not just for specific widgets, and not just for debounced widgets). In other words, is there a way for Concur to track which widgets need to have `writeState` called.

Perhaps doing this for every widget would be overkill, and negate some of the benefits of the VDOM. This may also be an implementation detail that isn't Central to Concur. F

[2021-02-03 08:22] ajbarber opened #21 "Would someone please explain this line of code?"
Just a question that is bugging me.  Feel free to move this to wherever it should belong.

https://github.com/purescript-concur/purescript-concur-core/blob/c789de05af425435598cdcd8d56d91964922e840/src/Concur/Core.purs#L57

Refer below. Are we putting `widget1`'s  return value, say `pure btnSel` into an `AVar`? I am curious about this line of code, in particular how when we enter `discharge` after

[2021-02-06 13:29] ajbarber commented on #15
I've come to the same conclusion. Right now in Concur, binding the return value of a widget, say a `SyntheticEvent_`, will cause a full tree rerender. The mechanism for getting the event out of the widget i.e
[code]
is done using discharge, and is very tightly bound up with the re-render. In trying to rewrite `debounce`,  I tried to various ways to untether the two by setting the continuation to `

[2021-02-06 14:37] bbarker commented on #15
@ajbarber The one that I'm aware of is [purescript-concur-vdom](https://github.com/purescript-concur/purescript-concur-vdom) .

[2021-02-07 08:19] #21 closed

[2021-02-08 20:38] bbarker commented on #18
I have #20 up, which is part 1 of part 2 in my plan for CI. It could be done a different way, but #20 is useful on its own.

[2021-02-18 15:07] ajbarber commented on #15
I have a branch out with some changes that allow us to recurse on widgets silently, without rendering until we need to.  @bbarker would you be able to assist with a test of these changes with your application? The changes are backwards compatible.

https://github.com/ajbarber/purescript-concur-core/tree/debounce-performance

There is however also a small change required to purescript-concur-react

[2021-02-19 12:56] bbarker commented on #15
@ajbarber Cool! Thanks for doing this. I can see that the renders are being delayed, but to be honest, I can't really tell if the performance has improved. It feels about the same, maybe slightly better in some cases but I can't say for sure.

I need to drill down a bit more, but I have to go out for now. Just wanted to paste this call tree where most of the work is happening:

![image](https://us

[2021-02-19 13:08] ajbarber commented on #15
@bbarker thanks for your assistance, I just checked the debug build deployed at  http://128.84.8.41:8080/  and it is not running my branch.

The way to ensure you are running my branches is to check for browser console logging on debounced input forms.

So you would need to clone those branches above to your dev environment, then follow the instructions on the spago readme around overriding with a

[2021-02-19 13:32] bbarker commented on #15
Ah yes, I saw it locally but forgot to check out the branch on that server 🤦‍♂️ . I confirmed it is up now.

[2021-02-19 14:17] ajbarber commented on #15
Thanks! It's an improvement, but not the knockout I was hoping for. Any chance of keeping that debug build up for a period of time.  It is spending all it's time in that paraff block in `mkNodeWidget`. This block just receives the event from React and puts it in an `AVar` for the continuation to pick up. I.e very costly for just shunting an event around...

[2021-02-19 14:35] bbarker commented on #15
Sure, I'll leave it up - just let me know if it goes down and I don't notice.

[2021-02-19 14:55] ajbarber commented on #15
Actually can I build a debug version of this myself without too much hassle? It would be nice to have...

[2021-02-19 15:02] bbarker commented on #15
Yes, I made a branch which you can branch off of called `debounce-performance`. `npm run debug` should make the build happen, which will appear under `dist`.

[2021-02-19 15:21] ajbarber commented on #15
Almost got there, what to do here?

⠧ Building bytesToUuid.js...Browserslist: caniuse-lite is outdated. Please run next command `npm update`
🚨  /home/adam/metajelo-ui/prod/index.css:1:1: Cannot resolve dependency './css/style.css' at '/home/adam/metajelo-ui/prod/css/style.css'

    | ^
  2 |
  3 |
npm ERR! code ELIFECYCLE

[2021-02-19 15:28] bbarker commented on #15
Oh right, you need to run `npm run getcss` (only once should suffice).

[2021-03-14 14:57] bbarker commented on #15
Hi @ajbarber

Just wanted to follow up to see if you had any further thoughts on this - I may try to do a Scala.js port of Concur as it looks like I may have some Scala work coming up. Do you think React is a good backend, or do you think a precise DOM binding approach might be better for Concur (or something else)?

[2021-03-14 15:45] ajbarber commented on #15
Hi Brandon

I wanted to investigate any possible degradation caused by Aff, so I ripped
it out and implemented the continuations using plain callbacks in Effect.
The result of this was there was no real difference in performance.

So in my mind that leaves the `orr`ing as the main bottleneck.  The orr
code has to go through and unwrap the free monad, and squash every view
into one, every time the

[2021-03-14 16:32] bbarker commented on #15
Thanks @ajbarber - yes, on the Scala side I was thinking of using ZIO (if necessary, but maybe it isn't): here's some relevant discussion comparing it to a Free monad: https://gitter.im/ZIO/Core?at=5cf2922097cf235d91dfc059. It sounds like exploring an implementation of Concur without `Free` may be useful, and I vaguely recall this may be something @ajnsit mentioned as a possibility (though I could

[2021-04-11 04:23] ajbarber commented on #15
So I tried ripping out the Free monad. I think I had to do that to understand why it is used. Without Free, you simply cannot write a bind instance on an ADT comprising both an Effect and an Aff, i.e. `WidgetStep`. Without Free, you need to make a choice about whether to work in Effect or Aff.

If we use Effect, and just completely rip out Aff, we miss out on all of the ergonomic features of Aff.

[2021-04-11 05:42] ajnsit commented on #15
Sorry I have been ignoring this issue because I had very little time and there was a lot of information here to catch up! 😀

I have a little bit more time now, I will get back with some comments today.

[2021-04-11 12:08] ajnsit commented on #15
I think removing Aff is a good idea. It's a big ball of JS which has always made it difficult to debug issues. We can replace it with something simpler and potentially more performant. I had a POC working using callbacks sometime back and I'll need to dig it up. The same POC also used callbacks to get rid of free monads as well.

About performance with React/vdom diffing, my experimental branch wh

[2021-04-11 12:18] ajnsit commented on #15
I would be happy to accept PRs (even radical ones) which make it ergonomic to have multiple react components in a single Concur widget. Especially if they allow seamless conversion between concur widgets and react components.

Note that you don't need multiple react components to get good performance. For example, halogen-vdom already provides memoisation of sub-components. So with that if the sta

[2021-04-11 12:24] ajnsit commented on #15
Regarding further direction of the project - the largest areas of focus right now are performance and component local state for the react and vdom backends. Any help with those will be very welcome!

[2021-04-12 00:25] bbarker commented on #15
@ajnsit If you do dig up that POC, would it be possible to share it? I'm (possibly) going to try implementing Concur in ZIO/Scala.js, and it sounds like that may be helpful to refer to.

[2021-04-12 05:34] ajnsit commented on #15
A Scala port sounds awesome! Will definitely upload the POC code in a repo once I find it.

[2021-04-12 20:45] ajnsit commented on #15
@bbarker @ajbarber I checked in a POC here - https://github.com/ajnsit/purescript-concur-streaming-poc. This is not the original POC, but I wrote one from scratch today and is really bare bones. I have only implemented the simplest of console views and there is no vdom. However I hope this helps show that aff and free are not essential to concur.

[2021-05-12 18:33] bbarker commented on #15
@ajbarber That's amazing, I will give it a try soon.

[2021-05-29 11:58] bbarker commented on #15
Thanks again @ajbarber, this seems like a huge improvement. I tried this out a couple of weeks ago but have had very little time to look into this until now. Unfortunately, that little time didn't help much. The best I can figure is that once the debounce timer fires, it initiates a lot of computation as the state changes propagate down the tree, updating nested records. I'm using [purescript-opti

[2021-05-29 12:12] ajbarber commented on #15
Thanks for your feedback. Actually I just noticed something yesterday in my
`orr` code which is horribly inefficient. I will fix and report back here
soon.
2021/5/29 19:58於 "Brandon Elam Barker" ***@***.***>寫道：

[2021-05-31 14:39] ajbarber commented on #15
@bbarker I am pleased to say I think we finally have a breakthrough on this one. I fixed the issue with the `orr` function as mentioned above tonight on my branch https://github.com/ajbarber/purescript-concur-core/tree/integrate-streaming-poc.  Recompiling and running in the metajelo-ui app yields a **big** boost in performance. I did many 'Add Items' to generate more forms and stress test it a bi

[2021-06-03 16:11] ajbarber commented on #15
Just adding to this.  `integrate-streaming-poc` the [branch](https://github.com/ajbarber/purescript-concur-core/tree/integrate-streaming-poc) that integrates @ajnsit 's callback poc, has a *very noticeable* boost in performance over `master`.  This branch preserves the full existing Concur API* by the way. So you can still `liftAff` for example, among other things.

In order to demonstrate the per

[2021-06-04 05:05] ajnsit commented on #15
Excellent stuff @ajbarber! Will try it out! I will be happy to take a PR once I have tried it out myself.

[2021-06-26 00:51] ajbarber commented on #15
In case this tripped anyone up, I just fixed a bug in the examples compiling, removed the `forever` from the `Hello.purs` example just for now, until MonadRec is implemented.

[2021-06-27 13:39] ajbarber commented on #15
I re-implented my toy `debounce` function to to operate on events, instead of taking `Widget` as an argument. So to debounce say `P.onChange` we simply wrap the prop in our widget like so `debounce 400 P.onChange`. So a real life example I just played with in the metajelo-ui app looks like this:
[code]

I'll get to the `P.persist` in a minute.  Why is this a nice API in my opinion? Something like

[2021-07-02 03:50] ajbarber commented on #15
Visual demonstration of performance lift.

For any interested readers, I took some gifs of the performance lift between master and integrate-streaming-poc.

**concur/concur-react master**
Below you can see my rapid keystrokes rendering in chunks in the input boxes.
[![master580b141351e2e0c1.gif](https://s6.gifyu.com/images/master580b141351e2e0c1.gif)](https://gifyu.com/image/AF4R)

**concur/concur

[2021-07-03 13:08] ajnsit commented on #15
@ajbarber I started looking at this, it seems to work fine, but I had a quick question about the code - What is the `Partial` constructor doing in the `Result` datatype` and why was it needed?

[2021-07-03 13:47] ajbarber commented on #15
Thanks @ajnsit. Partial is probably a misnomer, but refers to any asynchronous event. The reason for the differentiation between `Partial` and `Completed` was that synchronous events like that in `liftEffect`, which complete immediately, were giving runtime errors in MonadFix, used in `bind`. My understanding is MonadFix requires a truly asynchronous computation, or these runtime errors are thrown

[2022-02-22 15:37] liammcdermott commented on #15
We have a Concur project in production and are experiencing this performance issue. For us (cautiously) these branches are like a drop-in replacement, they JustWork™ and fix this problem completely.

Is there anything we can do to help move this along, any concerns blocking this? If it helps, I can relay our experience of putting this into production with a non-trivial application; let me know if

[2022-02-22 15:53] ajnsit commented on #15
@ajbarber @bbarker I have to apologise for sitting on this for so long. The only reason I did not merge this at the time was that it is a lot of code that I don't fully understand the implications of. And then the pandemic had taken a mental toll and somewhere around this time I cut down on my foss work to recover from the fatigue. The effect of all this was that this PR got buried in my todo list

[2022-02-22 16:08] liammcdermott commented on #15
Thanks for looking at this again @ajnsit and thanks for the great library! I should clarify: we're not using this in production yet, but we are testing it and haven't found any problems (so far). Either myself or one of my co-workers will post details if we do find anything.

This looks very promising!

[2022-02-23 09:05] ajbarber commented on #15
@ajnsit No problem, likewise, thanks for Concur, it has been a great choice for our organisation. I've been running concur master in prod with a non-trivial web app, with `Signal`s, and have never had any performance issues. I think @bbarker's web app is quite unconventional in the sheer amount of interactive forms on the page at once. It is a good stress test, and I suppose we should always striv

[2022-02-23 14:39] bbarker commented on #15
No worries - I'll echo Adam's comments and just say that I am not much of a
front-end developer. Had I more experience, I'd probably have gone a
different route!

On Wed, Feb 23, 2022 at 4:05 AM Adam Barber ***@***.***>
wrote:

--
Brandon Barker
***@***.***

[2022-02-23 14:41] bbarker commented on #15
To be clear, I mean go a different route with my app design - no regrets
using Concur!

On Wed, Feb 23, 2022 at 9:39 AM Brandon Barker ***@***.***>
wrote:

--
Brandon Barker
***@***.***

[2022-02-24 01:44] ajbarber commented on #15
@bbarker My point was more about UI *convention* rather than critiquing anyone's skill level.  On reflection I think there could be other examples where a web application could be highly interactive like metajelo. For example financial derivatives trading apps, with tons of controls and forms on the screen at once.  So it might indeed be worth concur targeting this more heavy duty use case.  In an

[2022-03-25 17:25] kee-oth opened #22 "Will there be support for more UI frameworks?"
Hi!

I'm _very_ new to Purescript and the ecosystem in general so we'll see if this is the right question in the right place.

I'm interested in building frontend applications with Purescript/Concur but I'm interested in the target being SolidJS as opposed to React. SolidJS is a more performant frontend library than React. It's truly reactive and doesn't use a VDOM.

Is this something the Concur t

[2022-03-26 19:47] srghma commented on #22
It's much easier to write this functionality on purescript, instead of using solidjs

Actually the haskell-reflex does exactly this

P.S. The more important question is have a web and mobile framework, that would render html on web and use native widgets on mobile

[2022-04-14 13:07] drshade opened #23 "No issue - just love ❤️ ❤️"
Just wanted to drop a note that i absolutely love this web framework and it makes me happy. I've written a handful of small fun projects using it and i absolutely adore it. It is small, fast, easy and productive, but also a fantastic way to show real tangible example of pure functional programming using monads for effect / async to people people who are comfortable with more mainstream web program

[2022-04-19 12:24] ajnsit commented on #23
This made my day! Thanks for using Concur and providing feedback @drshade!

[2022-04-19 12:24] #23 closed

[2022-04-24 23:25] MiracleBlue commented on #23
Same here actually, this is the most unique and interesting web framework idea I've seen since React first came along.  This generator-like approach has given me several "wow" moments.  It's my preferred Purescript UI framework now, easily!  Thanks @ajnsit !

[2022-09-06 15:29] liammcdermott commented on #15
Sorry for not replying to this, to be honest, I didn't understand the question.

We couldn't use this because it exacerbated a race condition, actually nothing to do with the performance branch itself. We have now fixed that issue and are using @ajbarber's `integrate-streaming-poc` in production. Hundreds of people are now using this! :+1:

Yep, we have a lot of form elements on screen at a time.

[2022-10-13 15:09] bbarker commented on #15
@ajnsit I think it would still be cool to see this integrated into Concur - not sure if I could do anything to help, but if there is, let me know! Obviously, no rush, but I still think Concur is amazing, and just want to see it improve. Cheers!